sqlite3:
  adapter: sqlite3
  database: acts_as_friendable.sqlite3

mysql:
  adapter: mysql2
  username: root
  database: acts_as_friendable
  charset: utf8

postgresql:
  adapter: postgresql
  username: postgres
  database: acts_as_friendable
  encoding: utf8
